# Application Configuration
FASTAPI_ENV=development
LOG_LEVEL=info
DATABASE_URL=postgresql+asyncpg://postgres:comp_use_password@postgres:5432/postgres

ANTHROPIC_API_KEY="sk-ant-api03-..."

# VNC settings
DISPLAY_NUM=1
WIDTH=1024
HEIGHT=768

# Security
REQUIRE_API_KEY=false
